<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <menuitem id="menu_test_vehicle_root"
              name="Vehicles"
              web_icon="/test_vehicle/static/description/icon.png"
              sequence="0"/>

    <menuitem id="menu_test_service"
              name="Services"
              parent="menu_test_vehicle_root"
              sequence="10"/>

    <menuitem id="menu_vehicle_service"
              name="Service"
              parent="menu_test_service"
              sequence="10"
              action="test_vehicle.action_vehicle_services"/>

    <menuitem id="menu_test_vehicle"
              name="Vehicle"
              parent="menu_test_vehicle_root"
              sequence="20"/>

    <menuitem id="menu_vehicle_brands"
              name="Brands"
              parent="menu_test_vehicle"
              sequence="20"
              action="test_vehicle.action_vehicle_brands"/>

    <menuitem id="menu_vehicle_parts"
              name="Vehicles Parts"
              parent="menu_test_vehicle"
              sequence="30"
              action="test_vehicle.action_vehicle_parts"/>

    <menuitem id="menu_driver_information"
              name="Driver Information"
              action="test_vehicle.action_driver_information"
              parent="menu_test_vehicle"
              sequence="50"/>

    <menuitem id="menu_vehicle"
              name="Internal User"
              parent="menu_test_vehicle_root"
              sequence="30"/>

    <menuitem id="menu_checkups"
              name="check"
              action="test_vehicle.action_checkup"
              parent="menu_vehicle"
              sequence="10"/>

    <menuitem id="menu_service"
              name="Services Type"
              action="test_vehicle.action_service"
              parent="menu_vehicle"
              sequence="20"/>

    <menuitem id="menu_maintenance"
              name="maintenance"
              action="test_vehicle.action_maintenance"
              parent="menu_vehicle"
              sequence="30"/>

    <menuitem id="menu_inspection"
              name="Inspection"
              action="test_vehicle.action_inspection"
              parent="menu_vehicle"
              sequence="40"/>

</odoo>
